---
import { Icon } from "astro-icon/components";
---

<div class="flex flex-row gap-4">
  <a href="https://www.instagram.com/idontlikegradient/">
    <Icon name="fa6-brands:square-instagram" width={36} height={41} />
  </a>
  <a href="https://www.facebook.com/profile.php?id=100006018346900">
    <Icon name="entypo-social:facebook" width={36} height={41} />
  </a>
  <a href="/not-me">
    <Icon name="mi:email" width={36} height={41} />
  </a>
</div>
