---
import DetailLayout from "../../layouts/DetailLayout.astro";
---

<DetailLayout
  name="UXUI"
  title="Locker project detail | Preawa's Portfolio"
  link="/uxui"
>
  <div class="flex flex-col gap-9 ml-20 mt-10">
    <div class="flex flex-col gap-1">
        <div class="flex flex-row gap-4">
            <h2 class="font-normal text-start">01</h2>
            <div class="flex flex-col">
              <h2>LOCKER</h2>
              <h2>SCI PROJECT</h2>
              <h2>2024</h2>
            </div>
          </div>
          <div class="text-[28px] font-light max-w-[1183px] ml-12">
            Project Locker for the Faculty of Science, Chulalongkorn University,
            allows students to conveniently and systematically reserve locker space
            through a web-based reservation system.
          </div>
    </div>

  </div>
</DetailLayout>
