---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Pork Pork">
	<main>
		<h1 class="text-xl">Welcome to <span class="text-gradient">แพรวา</span></h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente odit, quia, consequuntur aut aliquid corrupti nulla dolor ipsum impedit quae fugiat. Repellat illo recusandae facilis, odio eveniet enim. Fuga, reprehenderit?</p>
		<p>แพรวาจะเลี้ยงโมโม่เกม เย่ๆๆๆ</p>
		<img src="porkpork.jpg" alt="preawa" srcset=""/>
	</main>
</Layout>

