---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import About from "../components/Name.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Preawa| Kanyapat's Portfolio Website">
  <main class="ml-10 mb-3">
    <Navbar />
    <About />
    <Footer/>
  </main>
</Layout>
