---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import About from "../components/Name.astro";
import Footer from "../components/Footer.astro";
import Exp from "../components/Exp/Exp.astro";
---

<Layout title="Preawa| Kanyapat's Portfolio Website">
  <main class="ml-20 mb-10">
    <Navbar />
    <About />
    <Exp/>
    <Footer/>
  </main>
</Layout>
