---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Preawa | Portfolio Website">
  <main class="ml-10 mr-10">

    <div class="mt-10">
      <div class="flex flex-row justify-between">
        <div class="text-sm">
          <a href="/">EDUCATION</a>
        </div>
        <div class="text-sm">
          <a href="/">CONTACT</a>
        </div>
        <div class="flex flex-col">
          <div class="text-3xl">
            <a href="/">ABOUT</a>
          </div>
          <div class="text-3xl">
            <a href="/"> EXPERIENCES </a>
          </div>
          <div class="text-3xl ">
            <a href="/">PROJECTS</a>
          </div>
        </div>
      </div>
    </div>

    <div class="text-8xl font-bold">KANYAPAT</div>
    <div class="text-8xl font-bold">Saetiew</div>

  </main>
</Layout>
