---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import About from "../components/Name.astro";
import Education from "../components/Education.astro";
import Experience from "../components/Experience.astro";
---

<Layout title="Preawa | Portfolio Website">
  <main class="ml-10 mr-10">
    <Navbar />
    <About />
    <Education />
    <Experience />
  </main>
</Layout>
