---
import { educations, interest, description } from "../datas/data";
import IconGroup from "./IconGroup.astro";
---

<div class="flex flex-col">
  <div class="text-3xl md:text-6xl font-normal">EDUCATION</div>
  {
    educations.map((element) => (
      <div>
        <div class="font-normal mt-2 md:text-4xl">
          <Fragment set:html={element.schoolName} />
        </div>
        <div class="font-light text-lg md:text-xl">
          <Fragment set:html={element.location} />
        </div>
        <div class="font-light text-lg md:text-xl">
          <Fragment set:html={element.department} />
        </div>
        <div class="font-light text-lg md:text-xl">
          <Fragment set:html={element.peroid} />
        </div>
        <div class="mt-5" />
      </div>
    ))
  }
  <IconGroup />
</div>
