<div class="flex flex-row" id="exp">
  <div class="flex flex-col">
    <div class="font-normal text-6xl">EXPERIENCES</div>
    <div class="flex flex-col gap-1">
      <h4 class="font-normal mt-4">ISD</h4>
      <h5 class="font-normal">Information System development</h5>
      <p class="font-light">ui-designer</p>
    </div>
    <div class="mt-4 gap-1">
      <h4 class="font-normal mt-4">SCI</h4>
      <h5 class="font-normal">THE STUDENT UNION FACULTY OF SCIENCE </h5>
      <p class="font-light">part time ui-designer</p>
    </div>
    <div class="mt-4 gap-1 mb-5">
      <h4 class="font-normal mt-4">CBA</h4>
      <h5 class="font-normal">Chulalongkorn Business Adminstration</h5>
      <p class="font-light">Top Manager of Integrated Brand Communication (IBC)</p>
    </div>
  </div>
</div>
