<section class="flex flex-row mt-14 ml-[679px]" id="exp">
  <div class="flex flex-col">
    <h2 class="font-normal">EXPERIENCES</h2>
    <section class="flex flex-col gap-1">
      <h4 class="font-normal mt-4">ISD</h4>
      <h5 class="font-normal">Information System development</h5>
      <p class="font-extralight">ui-designer</p>
    </section>
    <section class="mt-4 gap-1">
      <h4 class="font-normal mt-4">SCI</h4>
      <h5 class="font-normal">THE STUDENT UNION FACULTY OF SCIENCE </h5>
      <p class="font-extralight">part time ui-designer</p>
    </section>
    <section class="mt-4 gap-1 mb-5">
      <h4 class="font-normal mt-4">CBA</h4>
      <h5 class="font-normal">Chulalongkorn Business Adminstration</h5>
      <p class="font-extralight">Top Manager of Integrated Brand Communication (IBC)</p>
    </section>
  </div>
</section>
