---
import Education from "./Education.astro";
import Experience from "./Experience.astro";
import Works from "./Works.astro";
---

<div class="flex flex-row mt-56 justify-between">
  <div class="flex flex-row justify-evenly gap-36 flex-wrap">
    <Education />
    <Experience />
  </div>

  <Works />
</div>
