---
import Education from "./Education.astro";
import Experience from "./Experience.astro";
import Works from "./Works.astro";
---

<div class="flex flex-row mt-56 justify-end flex-wrap-reverse gap-32">
  <div class="flex flex-row justify-start gap-36 flex-wrap-reverse">
    <Education />
    <Experience />
  </div>

  <Works />
</div>
