---
import Education from "./Education.astro";
import Experience from "./Experience.astro";
import Works from "./Works.astro";
---

<div class="flex flex-row mt-56 justify-between">
  <Education />
  <Experience />
  <Works/>
</div>
