---
import Education from "./Education.astro";
import Experience from "./Experience.astro";
import Works from "./Works.astro";
---

<div class="flex flex-row mt-56 justify-start gap-16 md:gap-32 flex-wrap-reverse">
  <Education />
  <Experience />
</div>
