---
import { interest, skills } from "../datas/data";
---

<section>
  <div class="mt-10">
    <div class="flex flex-row min-w-full justify-between">
      <div class="max-w-[449px]">
        <hr class="w-auto h-[6px] mx-auto my-3 bg-yellow01 border-0" />
        <p class="font-normal">Skills</p>
        <p class="font-light">{skills}</p>
      </div>
      <div class="max-w-[257px]">
        <hr class="w-auto h-[6px] mx-auto my-3 bg-yellow01 border-0" />
        <p class="font-normal">Interests</p>
        <p class="font-light">{interest}</p>
      </div>
      <div class="flex flex-col text-end">
        <hr class="w-52 h-[6px] mx-auto my-3 bg-yellow01 border-0" />
        <h3 class="font-normal">
          <a onclick="toEdu()" class="cursor-pointer">EDUCATION</a>
        </h3>
        <h3 class="font-normal">
          <a onclick="toExp()" class="cursor-pointer">CONTACT</a>
        </h3>
        <h3 class="font-normal">
          <a onclick="toExp()" class="cursor-pointer">EXPERIENCES</a>
        </h3>
        <h3 class="font-normal">
          <a onclick="toExp()" class="cursor-pointer">WORKS</a>
        </h3>
      </div>
    </div>
  </div>
</section>

<script is:inline>
  function toEdu() {
    const element = document.getElementById("edu");
    element.scrollIntoView();
  }

  function toAbout() {
    const element = document.getElementById("about");
    element.scrollIntoView();
  }

  function toExp() {
    const element = document.getElementById("exp");
    element.scrollIntoView();
  }
</script>
