<section>
  <div class="mt-10">
    <div class="flex flex-row justify-between">
      <div class="text-xl font-normal">
        <a onclick="toEdu()" class="cursor-pointer">EDUCATION</a>
      </div>
      <div class="flex flex-col">
        <div class="text-6xl font-normal">
          <a onclick="toAbout()" class="cursor-pointer">ABOUT</a>
        </div>
        <div class="text-6xl font-normal">
          <a onclick="toExp()" class="cursor-pointer"> EXPERIENCEs </a>
        </div>
        <div class="text-6xl font-normal">
          <a onclick="" class="cursor-pointer">PROJECTs</a>
        </div>
      </div>
    </div>
  </div>
</section>

<script is:inline>
  function toEdu() {
    const element = document.getElementById("edu");
    element.scrollIntoView();
  }

  function toAbout() {
    const element = document.getElementById("about");
    element.scrollIntoView();
  }

  function toExp() {
    const element = document.getElementById("exp");
    element.scrollIntoView();
  }
</script>
