---
import Works from "../Works.astro";
import CBAExp from "./CBAExp.astro";
import ISDExp from "./ISDExp.astro";
import SciExp from "./SciExp.astro";
---

<div class="flex flex-row gap-16 mt-48 justify-between">
  <div class="flex flex-row gap-16 justify-start flex-wrap">
    <div class="flex flex-col gap-14 max-w-[350px]">
      <SciExp />
      <ISDExp />
    </div>
    <CBAExp />
  </div>
  <Works />
</div>
