---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="portfolio website for kanyapat saetiew the 3rd years student of FAA chula (exhibitions design) build with astrojs, tailwindcss"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/porkpork.jpg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-w-full bg-white">
    <slot />
  </body>

  <style is:global>
    body {
      background-color: "#E3E3DE";
    }

    /* *{border: 1px solid black} */
    h1 {
      font-size: 86px;
      line-height: normal;
    }
    h2 {
      font-size: 48px;
      line-height: normal;
    }
    h3 {
      font-size: 32px;
      line-height: normal;
    }
    h4 {
      font-size: 24px;
      line-height: normal;
    }
    h5 {
      font-size: 16px;
      line-height: normal;
    }
    p {
      font-size: 14px;
      line-height: normal;
    }
  </style>
</html>
