---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/porkpork.jpg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="min-h-screen bg-grey01 bg-[linear-gradient(to_right,#F49494_1px,transparent_1px),linear-gradient(to_bottom,#F49494_1px,transparent_1px)] bg-[size:300px_300px]"
  >
    <slot />
  </body>

  <style is:global>
    body {
      background-color: "#E3E3DE";
    }
  </style>
</html>
